[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Android Maintainers
	label-Code-Review = -2..+2 group approvers-telephony
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group approvers-telephony
	label-Verified = -1..+0 group Android Maintainers
	submit = group approvers-telephony
[access "refs/heads/master"]
	label-Verified = -1..+1 group Android Maintainers
	submit = group Android Maintainers
[project]
[access]
	inheritFrom = Platform-Unrestricted-Projects
